<!-- NAVBAR -->
<nav>
    <i class='bx bx-menu'></i>
    <form action="#">
        <div class="form-input">
            <input type="search" placeholder="Search...">
            <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
        </div>
    </form>
    <a href="#" class="notification">
        <i class='bx bxs-bell'></i>
        <span class="num">8</span>
    </a>
    <% if (userName) { %>
        <a href="#" class="profile">
            <h3>
                <%= userName %>
            </h3>
        </a>
        <% } else { %>
            <a href="/auth/login" class="profile">
                <h3>Login</h3>
            </a>
            <% } %>
</nav>
<!-- NAVBAR -->